.header {
  position: static !important;
  color: #fff;
  font-size: 25px !important;
}

.brand-logo {
  color: #fff;
}

.nav-links {
  color: #fff;
}

.productCard {
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.span_style {
    display: block;
}